<section>
    <h1>Le carni</h1>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat tempus facilisis. Nullam placerat
        justo vitae diam egestas, quis gravida ex viverra. Proin vestibulum sem ac eros viverra, ac elementum arcu
        cursus. Donec auctor mattis urna, id sagittis lacus facilisis in. Integer porta lacus magna, nec euismod erat
        efficitur ac. Nulla mattis euismod sem id hendrerit. Sed et molestie augue.
    </article>
</section>
<section>
    <h1>I Panini</h1>
</section>
<section>
    <h1>I Dolci</h1>
</section>
<app-alert type="build"></app-alert>

