h2 {
    margin: 0;
}

.piatto-label {
    background-color: white;
    color: black;
    padding: 0.5vw;
}

.piatto-content {
    background-color: lightgray;
    color: black;
    padding: 0.5vw;
}
