:host{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.ss-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.ss-img{
  opacity: 0.65;
  width:100%;
  height:100%;
  object-fit:cover;
}
.ss-hidden{
  display: none;
}

.ss-arrow{
    position: absolute;
    font-size: clamp(2em, 15vw, 20vh);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.ss-next{
    margin-left: auto;
    right: 3vw;
}

.ss-previous{
    margin-right: auto;
    left: 3vw;
}
