$primary-color: #FF8900;
$secondary-color: #FFEA00;
$euro-color: green;
header{
  width: 80vw;
  height: 15vh;
  margin: auto;
  padding: 1vw;
  background-color: black;
  color: $primary-color;
}
.main-content{
  width: 80vw;
  margin: auto;
  padding: 1vw;
  background-color: grey;
}
.menu-container{
  width: fit-content;
  margin: auto;
}
.piatto-container{
  display: inline-block;
  margin: 1vw;
  vertical-align: top;
}
.piatto-card{
  max-width: 400px;
  min-height: 20vw;
  border-radius: 1vw;
}
.piatto-immagine{
  max-height: 200px;
  object-fit: cover;
  border: solid black;
  border-width: 2px 0;
}
.piatto-icon{
  color: $primary-color;
  font-size: 1.5em;
}
.piatto-price{
  color: $euro-color;
  font-size: 1.2em;
  font-style: italic;
}
.piatto-descrizione{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ordina-button{
  background-color: #FF8900;
  color: black;
  border-radius: 2em;
}
