$primary-color: #FF8900;
$secondary-color: #FFEA00;
$euro-color: green;
header{
  width: 100vw;
  height: 15vh;
  margin: auto;
  padding: 1vw;
  display: flex;
  align-items: center;
  vertical-align: middle;
  background-color: black;
  color: $primary-color;
}
.main-content{
  width: clamp(80vw, 1080px, 100vw);
  margin: auto;
  padding: 1vw;
  background-color: grey;
}
.main-logo{
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 30vw;
  height: 100%;
  font-size: clamp(1.5em, 4vw, 3em);
  line-height: 1.2em;
  padding: 2vw;
  flex: 2;
}
.main-pages{
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex: 4;
}
.main-page-link{
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: clamp(1em, 2vw, 1.5em);;
  color: $secondary-color;
  text-decoration: none;
  padding: 1vw;
}
.menu-container{
  width: fit-content;
  margin: auto;
}
.piatto-card{
  width: clamp(15vw, 400px, 40vw);
  max-height: 60vw;
  border-radius: 1vw;
  margin: 50px;
  background-color: white;
  color: black;
}
.piatto-immagine{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border: solid black;
  border-width: 2px 0;
}
.piatto-descrizione{
  height: 100%;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.piatto-header{
  padding: 10px;
}
.piatto-content{
  padding: 10px;
}
.piatto-button{
  background-color: #FF8900;
  color: black;
  border-radius: 2em;
}
