.ev-container {
    display: flex;
    justify-content: center;
}

.ev-cards-list {
    display: flex;
    width: clamp(50vw, 1080px, 90vw);
    flex-direction: column;
    align-items: stretch;
    gap: 2vh;
}
