.ev-container {
    display: flex;
    justify-content: center;
}

.ev-cards-list {
    display: flex;
    width: clamp(50vw, 1080px, 90vw);
    flex-direction: column;
    align-items: stretch;
    gap: 2vh;
}

.ev-card {
    background-color: white;
    border-radius: 2em;
    height: clamp(10vh, 30vw, 35vh);
    padding: 2vh;
    display: flex;
    align-items: stretch;
    gap: 1vw;
}

.ev-img-con {
    text-align: center;
}

.ev-img {
    height: 100%;
    border-radius: 1em;
    border: 0.1px solid #f87620;
}

.ev-content {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1vh;
}

.ev-date {
    font-size: 1.12em;
}

.ev-title {
    font-size: 1.5em;
    font-weight: bold;
}

.ev-share {
    justify-self: flex-end;
}
